*.cmd
node_modules
atob
cdl
cert-*
detect-libc
esparse
esvalidate
handlebars
key-*
knex
layout.html
layout2.html
mime
mkdirp
mssql
needle
node*
nopt
npm
npx
prebuild*
rc
rimraf
semver
sshpk-*
uglifyjs